<!DOCTYPE HTML>

<html ng-app="beat" ng-controller="homeController">
<head>

	<title>Beat - The Digital Music Label for Video Creators</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.ico">

	<!-- Charset -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!--For other devices -->
	<meta name="viewport" content="width=device-width, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">

	<!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS Files -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

	<!-- Isotope -->
	<link rel="stylesheet" href="isotope/css/base.css" />
	<link rel="stylesheet" href="isotope/css/demos.css" />

	<!-- Swiper-slider -->
	<link rel="stylesheet" href="swiper/dist/idangerous.swiper.css">

	<!-- Font Awesome -->
	<link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Icon Moon -->
	<link rel="stylesheet" type="text/css" href="icomoon/style.css">

	<!-- Theme CSS Files files -->
	<link rel="stylesheet" type="text/css" href="style2.css"/>
	<link rel="stylesheet" type="text/css" href="css/margins-paddings.css"/>

</head> <!-- End oh <head> element -->

<body> <!-- Start of visible content -->

	<header><!-- Start of header -->
		<div class="full-width-container navcssmenu-cont">
			<div class="container no-pad-lr nav-cssmenu">
				<nav id="cssmenu">
					<div class="logo"><a class="logo-a" href=""><img src="images/logo/logo.png" alt="Logo Header"></a></div>
					<div id="head-mobile"></div>
					<div class="btn-menu"></div>
					<ul class="float-right">
					<li><a href='http://www.beat.tm' translate="home">HOME</a></li>
					<li><a href='#features' translate="about">ABOUT</a></li>
					<li><a href='#services' translate="services">SERVICES</a></li>
					<li><a href='#teams' translate="apply_title_case">APPLY</a></li>
                    <li><a>Language</a>
					   <ul>
					      <li><a ng-click="changeLanguage('en_US')">ENGLISH</a></li>
					      <li><a ng-click="changeLanguage('zh')">CHINESE</a></li>
					      <li><a ng-click="changeLanguage('pt_PT')">PORTUGESE</a></li>
					   </ul>
					</li>
					<li style="height: 48px;"><a href="#" class="search-button-trigger left-search-btn"><i class="fa fa-search centered-icon"></i></a></li>
					</ul>
				</nav>
			</div>
	 	</div>
		<div class="search-popout-block overlow-hidden">
			<div class="container padding-right">
			    <form class="header-search-form margin0 relative col-xs-11" action="#">
				    <input type="text" id="search-boxx" class="input-medium border-radius0 required" placeholder="Search here...">
			    </form>
			    <a href="#" class="btn border-radius0 close-search pull-right col-xs-1 no-pad-lr"><i style="color: #262525" class="fa fa-times"></i></a>
			</div>
		</div> <!-- Pop-up for serch -->
	</header> <!-- Enf of header -->

	<section>
		<div class="full-width-container responsive-static-img">
			<div id="player"></div>
		</div>
	</section> <!-- YT player section end -->

	<main class="content"> <!-- Content of main page - start -->
		<section>
		    <div class="responsive-theme-title">
				<h1 class="bigH1" translate="beat">BEAT</h1>
				<h6 translate="video_creator_subheader">THE BEST MUSIC SOLUTION FOR VIDEO CREATORS</h6>
				<div class="text-center padding-top36 responsive-arrow">
					<a href='#features' class="scroll-to1 relative">
						<img class="home-arrow-down" src="images/home/arrowdown_w.png" alt="" />
						<img class="home-arrow-down-h" src="images/home/arrowdown.png" alt="" />
					</a>
				</div>
			</div>
		</section> <!-- End of title section -->

		<section>
		    <div class="container-fluid black-bg padding-bottom96 margin-top96 features-vh" id="features"> <!-- Start of section one - full width with background color -->
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12 text-center padding-top96" data-sr='enter bottom move 96px'>
							<h2><span translate="meet_beat">BEAT</span></h2>
							<div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>
							<p class="text-block padding-bottom48">
								<span translate="video_creator_description" style="color:white">>Video creators, like yourself, are constantly in need of music tracks to use in their productions.</span><br >
								<span translate="video_creator_description2" style="color:white"> Our network has come up with a solution that we think you're going to like...</span>
							</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-notes one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="all_genres"> ALL GENRES</h3></div>


								<div class="text-block padding-top24 fw" translate="all_genres_description">We and partnering labels have joined forces to provide our partners with countless tracks of all genres so you can find the exact track you need for your production. </div>
							</div>
						</div>
						<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px wait 0.5s'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-tick inline-disp one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="full_mcn"> FULL MCN</h3></div>


								<div class="text-block padding-top24 fw" translate="full_mcn_description">We're a fully operational YouTube MCN with certifications directly from YouTube. We know our stuff and will always be available to assist our partners! </div>
							</div>
						</div>
						<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px wait 1s'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-flow-children inline-disp one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="open_platform"> OPEN PLATFORM</h3></div>


								<div class="text-block padding-top24 fw" translate="open_platform_description">Any partner under our network, the Freedom! network, or any of its sub-networks has instant access to our platform. That's nearly 200,000 YouTube partners! </div>
							</div>
						</div>
						<div class="clearfix"></div>
												<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-chart-line one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="dashboard"> DASHBOARD</h3></div>


								<div class="text-block padding-top24 fw" translate="open_platform_description">Our network dashboard allows partners to track all of their analytics, post music for partners to use, download tracks you want to use in your own creations, match with creators for collaborations, and more! </div>
							</div>
						</div>
						<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px wait 0.5s'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-key inline-disp one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="ownership"> OWNERSHIP</h3></div>


								<div class="text-block padding-top24 fw" translate="ownership_description">You still own all of the content that you create. We are simply your technology and distribution partner bringing creative minds together! </div>
							</div>
						</div>
						<div class="col-lg-4 margin-top24" data-sr='enter bottom move 96px wait 1s'>
							<div class="padding-top36 padding-bottom36 text-left overflow-hidden feature-element">
								<div class="one-about-elem"><i class="icon-chevron-right inline-disp one-about-elem-icon"></i><h3 class="inline-disp one-about-elem-title" translate="payments"> PAYMENTS</h3></div>


								<div class="text-block padding-top24 fw" translate="payments_description">If you earn $1, we'll pay you $1. It's as simple as that! Feel safe knowing we'll pay you on-time, everytime, no matter how much you've made! </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End of first section -->
		<section>
			<div class="container padding-top96" id="services"> <!-- Start of fourth section -->
				<div class="row">
					<div class="col-md-12 text-center" data-sr='enter bottom move 96px'>
						<h2><span translate="our_services">SERVICES</span></h2>
						<div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>
						<p class="text-block padding-bottom48"><span style="color:white" translate="our_services_description">Want to know what separates us from other networks on YouTube?</span><br><span style="color:white" translate="our_services_description2">That's easy! Here are some examples...</span></p>
					</div>
					<div class="clearfix "></div>
				<div class="row1">
					<div data-sr='enter bottom move 96px wait 0.15s' class="col-md-4 padding-top48 se-one">
						<div class="text-center services-element">
							<i class="services-icon icon-download fa-3x"></i>
							<h4 class="margin-top36" translate="distribution">DISTRIBUTION</h4>
							<p class="text-block padding-top12" translate="distribution_description">Our network makes it easy to search, listen, download, and implement songs into your video productions. A simple distribution method for our artists and an easy implentation for our partners!</p>
							<div class="blue-horizontal-separator-service"></div>
						</div>

					</div>
					<div data-sr='enter bottom move 96px wait 0.30s' class="col-md-4 padding-top48 se-one">
						<div class="text-center services-element">
							<i class="services-icon icon-flag fa-3x"></i>
							<h4 class="margin-top36" translate="copyright">COPYRIGHT</h4>
							<p class="text-block padding-top12" translate="copyright_description">By being a full multi-channel network, we make the use of music simple and transparent. Our partners can always trust our music and never have to worry about copyright claims!</p>
							<div class="blue-horizontal-separator-service"></div>
						</div>
					</div>
					<div data-sr='enter bottom move 96px wait 0.45s' class="col-md-4 padding-top48 se-one">
						<div class="text-center services-element">
							<i class="services-icon icon-group fa-3x"></i>
							<h4 class="margin-top36" translate="collaboration">Collaboration</h4>
							<p class="text-block padding-top12" translate="collaboration_description">By bringing music artists and video creators together, we're bridging the gap by making collaboration and promotion simple! An all-in-one solution!</p>
							<div class="blue-horizontal-separator-service"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
			<br><br></div>
		</section>
		<section>
			<div class="container-fluid black-container padding-top96 padding-bottom96" id="our-clients"> <!-- Sevent section - Our clients START -->
				<div class="container transition-div" data-sr='enter bottom'>
				    <div class="col-md-12 text-center">
				         <h2><span translate="our_clients">CLIENTS</span></h2>
				         <div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>
				          <p class="text-block padding-bottom48" translate="our_clients_description">Not only do we help to distribute our partners' music, we also work with fully-developed music labels to get their music out to video creators.</p>
				         <div class="gray-horizontal-separator-full padding-top24 margin-bottom24"></div>
				         	<div class="col-md-12 text-center">
				         		<div class="stat">
								 <div class="col-xs-4 no-pad" ><a href="http://www.positionmusic.com"><img src="images/clients/position.png" alt="Position Music" class="img-responsive"></a></div>
								 </div>
								 <div class="stat">
								 <div class="col-xs-4 no-pad" ><a href="http://www.fixtonline.com"><img src="images/clients/fixt.png" alt="FiXT" class="img-responsive"></a></div>
								 </div>
								 <div class="stat">
								 <div class="col-xs-4 no-pad" ><a href="http://www.epidemicsound.com"><img src="images/clients/epidemic.png" alt="Position Music" class="img-responsive"></a></div>
								 </div>
							</div>
					    <div class="gray-horizontal-separator-full padding-top24 margin-bottom24"></div>
					<p class="text-block" translate="our_clients_description2">Feel free to use all of our music and theirs in your video creations!</p>
					</div>
				</div>

			</div>
		</section>
		<section>
			<div class="container padding-top96 padding-bottom96" id="teams"> <!-- Start of second section - centered container -->
				<div class="row"> <!-- Row for bootstrap -->
					<div class="col-md-12 text-center" data-sr='enter bottom move 96px'>
						<h2><span translate="apply_now">NOW</span></h2>
						<div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>
						<p class="text-block padding-bottom48" translate="apply_now_description">Give your video career the creative jump-start it needs to reach new audiences!</p><br>
						<a href="http://www.freedom.tm/auth/mcnbeat+apply"><button type="submit" class="btn contact-btn" translate="apply_all_caps">APPLY</button></a>
					</div>

					<div class="clearfix"></div>

				</div>
			</div>
		</section>
		<!-- End of second section -->


		<!-- End of sixth section -->


		<!-- End of seventh section -->


		<!-- End of eighth section -->

 <!-- Map section end -->



</main><!-- Content of main page - end -->



	<footer>
		<div class="container-fluid">
			<div class="row" style="padding-bottom: 40px; background-color: #000;">
				<div class="col-md-12 text-center padding-top48 text-footer">
					<img src="images/logo/logo.png" alt="Footer logo">
					<p class="padding-top12"><i class="fa-copyright fa"></i><span>any.TV&nbsp;</span><span class="year"></span><span>&nbsp;</span><span translate="all_rights_reserved"></span></p>
					<div class="text-center padding-top72">
						<a href="#" class="scroll-to relative">
							<img class="footer-arrow-up" src="images/footer/arrowup_w.png" alt="" />
							<img class="footer-arrow-up-h" src="images/footer/arrowup.png" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-translate/angular-translate.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="js/jquery.1.11.0.min.js"></script> <!-- jQuery import -->

<!-- Map -->



	<script>
		$('.year').html(new Date().getFullYear());
      // 1. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 2. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'CdX6Tekf8i8',
          playerVars: { 'autoplay': 1, 'controls': 0, 'loop': 1, 'playlist':'CdX6Tekf8i8', 'showinfo': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 3. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        player.mute();
      }

      // 4. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

	<script src="js/scrollReveal.min.js"></script>

	<script src="js/smoothscroll.js"></script>

	<script src="js/TweenLite.min.js"></script>
	<script src="js/ScrollToPlugin.min.js"></script>

	<!-- Bootstrap JS Files -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isonscreen.js"></script>

	<!--  Swiper-slider  -->
	<script type="text/javascript" src="swiper/dist/idangerous.swiper.min.js"></script>

	<!-- Theme JS Files files -->
	<script type="text/javascript" src="js/jquery.easing.js"></script>

	<script type="text/javascript" src="js/jquery.gray.min.js">
	</script>

	<script type="text/javascript" src="js/common.js"></script>

	<!-- JS for google maps infobox -->
	<script type="text/javascript" src="js/infobox.js"></script>

	<!-- JS for isotope -->
    <script src="isotope/isotope.pkgd.min.js"></script>


    <!-- Hotjob tracking code -->
	<script>
	(function(f,b,g){
	    var xo=g.prototype.open,xs=g.prototype.send,c;
	    f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
	    f._hjSettings={hjid:11149, hjsv:2};
	    function ls(){f.hj.documentHtml=b.documentElement.outerHTML;c=b.createElement("script");c.async=1;c.src="//static.hotjar.com/c/hotjar-11149.js?sv=2";b.getElementsByTagName("head")[0].appendChild(c);}
	    if(b.readyState==="interactive"||b.readyState==="complete"||b.readyState==="loaded"){ls();}else{if(b.addEventListener){b.addEventListener("DOMContentLoaded",ls,false);}}
	    if(!f._hjPlayback && b.addEventListener){
	        g.prototype.open=function(l,j,m,h,k){this._u=j;xo.call(this,l,j,m,h,k)};
	        g.prototype.send=function(e){var j=this;function h(){if(j.readyState===4){f.hj("_xhr",j._u,j.status,j.response)}}this.addEventListener("readystatechange",h,false);xs.call(this,e)};
	    }
	})(window,document,window.XMLHttpRequest);
	</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60123442-1', 'auto');
  ga('send', 'pageview');

</script>

	</body>
</html>
